<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<!-- 1. 개수얻기 -->
	<select id="selectCount" resultType="int">
		select count(*) from notice
	</select>
	
	<!-- 2. 1개 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="NoticeVO">
		select * from notice where idx=#{idx}
	</select>
	
	<!-- 3. 1페이지 얻기 -->
	<select id="selectList" parameterType="hashmap" resultType="NoticeVO">
		select
			R.*
		from
			( select 
				rownum rnum, Q.*
			  from	
				(select * from notice order by idx desc) Q
			  where
			  	<![CDATA[
			  	rownum  <= #{endNo}
			  	]]>
			) R
		where
			<![CDATA[
			rnum  >= #{startNo}
			]]>
	</select>
	
	<!-- 4. 저장 -->
	<insert id="insert" parameterType="NoticeVO">
		insert into fileBoard 
			(idx, name, password, subject, content, regDate)
		values
			(notice_idx_seq.nextval,#{name},#{password},#{subject},#{content},SYSDATE)	
	</insert>
	
	<!-- 5. 글 수정 -->
	<update id="update" parameterType="NoticeVO">
		update notice set subject=#{subject}, content=#{content}, regDate=SYSDATE where idx=#{idx} 
	</update>
	
	<!-- 6. 글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from notice where idx=#{idx}
	</delete>
	
	<!-- 7. 조회수-->
	<update id="clickCount" parameterType= "int">	
		update notice set clickCount = clickCount + 1 where idx=#{idx}"
	</update>
	
	<!-- 8. 가장 최근에 저장된 글번호 읽어오기 -->
	<select id="selectMaxIdx" resultType="int">
		select max(idx) from notice
	</select>
	

</mapper>
