<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trainer">

	<!-- 전체 회원 목록 보기(22.06.22 추가됨) -->
	<select id="SelectByAllUserList" resultType="MemberVO">
		select * from MEMBERS WHERE lev=1
	</select>

	<!-- 전체 회원 중 한명 정보 보기(22.06.22 추가됨) -->
	<select id="SelectByAllUserInfo" parameterType="string" resultType="MemberVO">
		select * from MEMBERS WHERE id=#{id} and lev=1
	</select>

	<!-- 나의 회원 목록 보기 -->
	<select id="SelectByUserList" parameterType="string" resultType="MemberVO">
		select * from MEMBERS WHERE myTrainer=#{trainerid}
	</select>
	
	<!-- 나의 회원 정보 보기 -->
	<select id="SelectByUserInfo" parameterType="string" resultType="MemberVO">
		select * from MEMBERS where id=#{id}
	</select>

	<!-- 회원 pt이용권 등록, 스타트, 엔드데이 등록 -->
	<update id="MemberUpdate" parameterType="MemberVO">
		update MEMBERS set
			pt=#{pt},
			startday = #{startDay},
			endday = #{endDay},
			myTrainer = #{myTrainer}
		where
			id=#{id}
	</update>
	
</mapper>


