<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<!-- 삽입 -->
	<insert id = "insert" parameterType="UsersVO">
		insert into users
    		(u_id, u_password, u_nicname, u_name, u_birth, u_addr, u_email, lev) 
    	values
    		(#{u_id}, #{u_password}, #{u_nicname}, #{u_name}, #{u_birth}, #{u_addr}, #{u_email}, 1)
	</insert>
	
	<!-- 삭제 -->
	<delete id="delete" parameterType="string">
		delete from users where u_id}
	</delete>
	
	<!-- 수정 -->
	<update id="update" parameterType="UsersVO">
		update users set u_password=#{u_password}, u_email=#{u_email}, u_addr=#{u_addr}
    	where u_id=#{u_id}
	</update>
	
	<!-- id유무 확인 -->
	<select id="selectByUserId" parameterType="string" resultType="int">
		select count(*) from users where u_id=#{u_id}
	</select>
	
	<!-- 한 회원정보 얻기 -->
	<select id="selectByUserInfo" parameterType="string" resultType="UsersVO">
		select * from users where u_id=#{u_id}
	</select>
	
	<!-- pt회원권, 등록일, 마감일 수정 -->
	<update id="updatePt" parameterType="haspmap">
		update users set pt=#{pt}, startDay=sysdate, endDay=sysdate+#{}, t_id=#{t_id}
    	where u_id=#{u_id}
	</update>
	
	<!-- 회원전체수 얻기 -->
	<select id="selectByUserCount" resultType="int">
		select count(*) from users
	</select>
	
	<!-- 자신의 회원목록 가져오기 -->
	<select id="selectByUserList" parameterType="string" resultType="list">
		select * from users where t_id = #{t_id}
	</select>
	
	<!-- 비밀번호 변경하기 -->
	<update id="changePassword" parameterType="string">
		update users set u_password=#{u_password} where u_id=#{u_id}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="findUserId" parameterType="hashmap" resultType="string">
		select u_id from users where u_email=#{u_email}
	</select>
	
</mapper>
